---

- name: 修改sysctl配置
  sysctl:
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    ignoreerrors: yes
    reload: true
  with_items:
    - { name: 'net.ipv4.tcp_fin_timeout', value: '30' }
    - { name: 'net.ipv4.tcp_max_tw_buckets', value: '102400' }
    - { name: 'net.ipv4.ip_local_port_range', value: '20000 65535' }

- name: 修改ulimit
  pam_limits:
    dest:  "{{ item.dest }}"
    domain:  '*'
    limit_type:  "{{ item.limit_type }}"
    limit_item:  "{{ item.limit_item }}"
    value:  "{{ item.value }}"
  with_items:
    - { dest:  '/etc/security/limits.conf' ,limit_type:  'soft' ,limit_item:  'nofile' , value:  '655350'  }
    - { dest:  '/etc/security/limits.conf' ,limit_type:  'hard' ,limit_item:  'nofile' , value:  '655350' }
    - { dest:  '/etc/security/limits.conf' ,limit_type:  'soft' ,limit_item:  'nproc' , value:  '655350'  }
    - { dest:  '/etc/security/limits.conf' ,limit_type:  'hard' ,limit_item:  'nproc' , value:  '655350'  }

- name: 创建基础路径
  file:
    path: "{{ project_path }}"
    state: directory

- name: 复制shell启动文件
  template:
    src: startJava.sh.j2
    dest: "{{ project_path }}/start-{{ project_name }}.sh"

- name: 复制源文件到文件夹
  copy:
    src: "{{ origin_java_path }}/{{ project_name }}.jar"
    dest: "{{ project_path }}/{{ project_name }}.jar"
    mode: 0777

- name: shell启动服务
  shell: "cd {{ project_path }}; sh start-{{ project_name }}.sh"
